<div>
  <div class="flex-item">
    <select class="form-select" aria-label="Default select example" (change)="onTagSearch($event)">
      <option selected value=""></option>
      <option type="button" value="{{tag.name}}" *ngFor="let tag of tags">{{tag.name}}</option>
    </select>
  </div>
  <div class="flex-item">
    <button class="btn btn-primary" (click)="getSortedByUploadTime()">{{ 'ReviewPage.ByRecent' | translate }}</button>
    <button class="btn btn-primary" (click)="getSortedByRating()">{{ 'ReviewPage.ByRating' | translate }}</button>
  </div>
  <div>
    <div *ngFor="let review of reviewsService.reviews">
      <table class="table">
        <thead>
        <tr>
          <th scope="col" style="width: 20%;">{{ 'ReviewPage.Title' | translate }}</th>
          <th scope="col" style="width: 20%;">{{ 'ReviewPage.ArtName' | translate }}</th>
          <th scope="col" style="width: 20%;">{{ 'ReviewPage.Date' | translate }}</th>
          <th scope="col" style="width: 15%;">{{ 'ReviewPage.LikesCount' | translate }}</th>
          <th scope="col" style="width: 10%;">{{ 'ReviewPage.AverageRating' | translate }}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td style="width: 20%;">{{review.title}}</td>
          <td style="width: 20%;">{{review.artName}}</td>
          <td style="width: 20%;">{{review.creationDate | date:'d.M.yy, HH:MM'}}</td>
          <td style="width: 15%;">{{review.likesCount}}</td>
          <td style="width: 10%;">{{review.averageRating}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
