<div>
  <div class="flex-item">
    <select class="form-select" aria-label="Default select example" (change)="onTagSearch($event)">
      <option selected value=""></option>
      <option type="button" value="{{tag.name}}" *ngFor="let tag of tags">{{tag.name}}</option>
    </select>
  </div>
  <div class="flex-item">
    <button class="btn btn-primary btn-sort" (click)="getSortedByUploadTime()">{{ 'ReviewPage.ByRecent' | translate }}</button>
    <button class="btn btn-primary btn-sort" (click)="getSortedByRating()">{{ 'ReviewPage.ByRating' | translate }}</button>
  </div>
  <div>
    <div *ngFor="let review of reviewsService.reviews" class="table-responsive">
      <table class="table">
        <thead>
        <tr>
          <th scope="col" style="width: 20%;">{{ 'ReviewPage.Show' | translate }}</th>
          <th scope="col" style="width: 20%;">{{ 'ReviewPage.ShowImage' | translate }}</th>
          <th scope="col" style="width: 15%;">{{ 'ReviewPage.Title' | translate }}</th>
          <th scope="col" style="width: 15%;">{{ 'ReviewPage.ArtName' | translate }}</th>
          <th scope="col" style="width: 10%;">{{ 'ReviewPage.Date' | translate }}</th>
          <th scope="col" style="width: 10%;">{{ 'ReviewPage.LikesCount' | translate }}</th>
          <th scope="col" style="width: 10%;">{{ 'ReviewPage.AverageRating' | translate }}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td style="width: 20%;">
            <form [formGroup]="reviewForm">
              <div>
                <input formControlName="id" type="hidden" value="{{review.reviewId}}">
                <a [routerLink]="['/review', review.reviewId]" class="btn btn-primary">{{ 'ReviewPage.Show' | translate }}</a>
              </div>
            </form>
          </td>
          <td style="width: 20%;">
            <div>
              <img src="{{review.imageUrl}}" alt="Not images" style="height: 100px">
            </div>
          </td>
          <td style="width: 15%;">{{review.title}}</td>
          <td style="width: 15%;">{{review.artName}}</td>
          <td style="width: 10%;">{{review.creationDate | date:'dd.MM.yyyy, HH:MM'}}</td>
          <td style="width: 10%;">{{review.likesCount}}</td>
          <td style="width: 10%;">{{review.averageRating}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
