table {
  height: 300px;
}

.container {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
}

.flex-item {
  display: flex;
  margin-top: 15px;
  margin-bottom: 15px;
}

.input-field {
  background-color: white;
  border: 1px solid gray;
  padding: 8px;
}

.btn-sort {
  margin: 10px;
}
