<header>
  <nav
    class="navbar navbar-expand-lg navbar-toggleable-lg navbar-light border-bottom box-shadow mb-3"
  >
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">ReviewsPortal.Web</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow">
          <li
            class="nav-item"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a class="nav-link text-dark" [routerLink]="['/admin-profile']">{{ 'AdminPage.Admin' | translate }}</a>
          </li>
        </ul>
        <ul class="navbar-nav flex-grow">
          <li
            class="nav-item"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a class="nav-link text-dark" [routerLink]="['/registration']">{{ 'Header.Registration' | translate }}</a>
          </li>
        </ul>
        <ul class="navbar-nav flex-grow">
          <li
            class="nav-item"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a class="nav-link text-dark" [routerLink]="['/login']">{{ 'Header.Login' | translate }}</a>
          </li>
        </ul>
        <ul class="navbar-nav flex-grow">
          <li
            class="nav-item pointer"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a class="nav-link text-dark"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                                               fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16" [routerLink]="['/personal-page']">
              <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
            </svg></a>
          </li>
        </ul>
        <ul class="navbar-nav flex-grow">
          <li>
            <app-theme-toggle></app-theme-toggle>
          </li>
        </ul>
        <ul class="navbar-nav flex-grow">
          <li>
            <app-language-dropdown></app-language-dropdown>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
