<div class="container mt-5 px-2">
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <div class="flex-container">
      <div class="error-mes">
        {{error}}
      </div>
      <div class="error-mes" *ngIf="registrationForm.controls.email.errors?.email">
        Incorrect Email
      </div>
      <div class="error-mes" *ngIf="registrationForm.controls.password.errors?.minlength">
        Incorrect password
      </div>
      <div class="error-mes" *ngIf="registrationForm.controls.password.errors?.required">
        Enter password
      </div>
      <div class="error-mes" *ngIf="registrationForm.controls['confirm'].errors?.required">
        Confirm password
      </div>
      <div class="error-mes" *ngIf="registrationForm.hasError('notSame')">
        Mismatched passwords
      </div>
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-email">Email</span>
      </div>
      <input formControlName="email" type="text" id="email" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-email" required>
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-name">Name</span>
      </div>
      <input formControlName="userName" type="text" id="name" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-name" required>
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-password">Password</span>
      </div>
      <input formControlName="password" type="password" id="password" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-password" required>
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-confirm">Confirm</span>
      </div>
      <input formControlName="confirm" type="password" id="confirm" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-confirm" required>
    </div>
    <div class="form-check remember-item">
      <input formControlName="rememberMe" class="form-check-input" type="checkbox" value="false" id="flexRemember" checked>
      <label class="form-check-label" for="flexRemember">
        Remember me
      </label>
    </div>
    <div>
      <button [disabled]="registrationForm.invalid" type="submit" class="btn btn-outline-primary">Sign up</button>
    </div>
  </form>
</div>
