<div>
  <div>
    <p class="h5 review-elem">{{'UserPage.Filter' | translate}}</p>
    <form [formGroup]="filtrationForm" (ngSubmit)="onFilter()">
      <div class="flex-item">
        <select id="typeFiltration" class="form-select" aria-label="Default select example" formControlName="filtrationField">
          <option selected value="">{{'UserPage.TypeFiltration' | translate}}</option>
          <option value="title">{{ 'ReviewPage.Title' | translate }}</option>
          <option value="artName">{{ 'ReviewPage.ArtName' | translate }}</option>
          <option value="creationDate">{{ 'ReviewPage.CreationDate' | translate }}</option>
          <option value="category">{{ 'ReviewPage.Category' | translate }}</option>
          <option value="averageRating">{{ 'ReviewPage.AverageRating' | translate }}</option>
          <option value="likeCount">{{ 'ReviewPage.LikesCount' | translate }}</option>
        </select>
      </div>
      <div class="flex-item">
        <input formControlName="filtrationValue" placeholder="{{'UserPage.InputFilterValue' | translate}}"
               type="text" class="form-control" value="" id="exampleInputArt">
      </div>
      <div class="flex-item">
        <button class="btn btn-primary" type="submit">{{'UserPage.Filter' | translate}}</button>
      </div>
      <div>
        <a class="btn btn-danger" *ngIf="userId" [routerLink]="['/create-review', this.userId]">{{ 'UserPage.Create' | translate }}</a>
        <a class="btn btn-success" *ngIf="!userId" [routerLink]="['/create-review']">{{ 'UserPage.Create' | translate }}</a>
      </div>
    </form>
  </div>
  <div>
    <ngx-datatable [rowHeight]="50" [scrollbarH]="true" [columnMode]="ColumnMode.standard" [rows]="reviewsRecords">
      <ngx-datatable-column [width]="150" name="{{ 'UserPage.Take' | translate }}">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <button class="btn btn-primary" [routerLink]="['/update-review', row.reviewId]">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
            </svg>
          </button>
          <button class="btn btn-danger" type="button" (click)="onDeleteReviewRow(row.reviewId)">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
              <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
            </svg>
          </button>
          <button class="btn btn-info" type="button" [routerLink]="['/review', row.reviewId]">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
              <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
              <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
            </svg>
          </button>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [width]="310" name="{{ 'ReviewPage.Title' | translate }}">
        <ng-template let-row="row" ngx-datatable-cell-template>{{row.title}}</ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [width]="210" name="{{ 'ReviewPage.ArtName' | translate }}">
        <ng-template let-row="row" ngx-datatable-cell-template>{{row.artName}}</ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [width]="150" name="{{ 'ReviewPage.CreationDate' | translate }}">
        <ng-template let-row="row" ngx-datatable-cell-template>{{row.creationDate | date:'dd.MM.YY, HH:mm':'UTC+3'}}</ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [width]="150" name="{{ 'ReviewPage.Category' | translate }}">
        <ng-template let-row="row" ngx-datatable-cell-template>{{row.category}}</ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [width]="150" name="{{ 'ReviewPage.AverageRating' | translate }}">
        <ng-template let-row="row" ngx-datatable-cell-template>{{row.averageRating}}</ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [width]="150" name="{{ 'ReviewPage.LikesCount' | translate }}">
        <ng-template let-row="row" ngx-datatable-cell-template>{{row.likeCount}}</ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>
