.review-title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
}

.review-elem {
  display: flex;
  align-items: center;
  height: 30px;
}

table {
  min-height: 30px;
}
