<div class="flex-container">
  <form [formGroup]="reviewForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <h2 style="margin-bottom: 15px">{{ 'ReviewForm.CreateReview' | translate }}</h2>
      <h6>{{ 'ReviewForm.Title' | translate }}</h6>
      <div class="error-mes" *ngIf="reviewForm.controls.title.errors?.required &&
                                      reviewForm.controls['title'].touched">
        {{ 'Validation.Required' | translate }}
      </div>
      <div class="error-mes" *ngIf="reviewForm.controls.title.hasError('maxlength') &&
        reviewForm.controls['title'].touched">
        {{ 'Validation.MaxLength' | translate }}
      </div>
      <input formControlName="title" type="text" class="form-control" id="exampleInputTitle" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <h6>{{ 'ReviewForm.ArtName' | translate }}</h6>
      <div class="error-mes" *ngIf="reviewForm.controls.artName.errors?.required &&
                                      reviewForm.controls['artName'].touched">
        {{ 'Validation.Required' | translate }}
      </div>
      <div class="error-mes" *ngIf="reviewForm.controls.artName.hasError('maxlength') &&
        reviewForm.controls['artName'].touched">
        {{ 'Validation.MaxLength' | translate }}
      </div>
      <input formControlName="artName" type="text" class="form-control" id="exampleInputArt">
    </div>
    <div class="mb-3">
      <h6>{{ 'ReviewForm.Description' | translate }}</h6>
      <div>
        <div>
          <div class="error-mes" *ngIf="reviewForm.controls.description.errors?.required &&
                                      reviewForm.controls['description'].touched">{{ 'Validation.Required' | translate }}</div>
          <div class="error-mes" *ngIf="reviewForm.controls.description!.value!.length > 15000">
            {{ 'Validation.MaxLength' | translate }}
          </div>
        </div>
        <app-markdown-editor [control]="reviewForm.controls.description"></app-markdown-editor>
      </div>
    </div>
    <div class="mb-3">
      <h6>{{ 'ReviewForm.Images' | translate }}</h6>
      <div class="error-mes" *ngIf="reviewForm.controls.images.errors?.required &&
                                      reviewForm.controls['images'].touched">
        {{ 'Validation.Required' | translate }}
      </div>
      <ngx-dropzone [multiple]="true" [maxFileSize]="500000" accept="image/png, image/jpeg, image/jpg" (change)="onSelectImage($event)">
        <ngx-dropzone-image-preview [removable]="true" *ngFor="let f of files" [file]="f" (removed)="onRemoveImage(f)">
        </ngx-dropzone-image-preview>
        <ngx-dropzone-label *ngIf="files!.length == 0">{{ 'ReviewForm.Images' | translate }}</ngx-dropzone-label>
      </ngx-dropzone>
    </div>
    <div>
      <h6>{{ 'ReviewForm.Category' | translate }}</h6>
      <div class="error-mes" *ngIf="reviewForm.controls.categoryName.errors?.required &&
            reviewForm.controls['categoryName'].touched">
        {{ 'Validation.Required' | translate }}
      </div>
      <select formControlName="categoryName" class="form-select">
        <option *ngFor="let category of categories" value="{{category}}">
          {{category}}
        </option>

      </select>
    </div>
    <div class="mb-3">
      <h6>{{ 'ReviewForm.Grade' | translate }}</h6>
      <ngb-rating formControlName="grade" (rateChange)="onGradeChange($event)"
                  style="font-size: 30px" [max]="10" [(rate)]="grade" [readonly]="false"></ngb-rating>
    </div>
    <div>
      <h6>{{ 'ReviewForm.Tags' | translate }}</h6>
      <div class="error-mes" *ngIf="reviewForm.controls.tags.errors?.required &&
            reviewForm.controls['tags'].touched">
        {{ 'Validation.TagsRequired' | translate }}
      </div>
      <tag-input [ngModel]="tags" [maxItems]='40' (onAdd)="onAddTag($event)"
                 (onRemove)="onRemoveTag($event)" [onlyFromAutocomplete]="false" [ngModelOptions]="{standalone: true}">
        <tag-input-dropdown [autocompleteObservable]="requestAutocompleteTags" displayBy="name" identifyBy="name">
        </tag-input-dropdown>
      </tag-input>
    </div>
    <button [disabled]="!this.reviewForm.valid" type="submit"
            class="btn btn-primary flex-item">
      {{ 'ReviewForm.Submit' | translate }}
    </button>
  </form>
</div>
