.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.error-mes {
  padding-left: 5px;
  color:red;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 14px;
}

.flex-item {
  width: 100px;
  padding: 10px;
}

.logout {
  font-size: 40px;
}
